@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="image-header">
    <img class="images" src="https://www.discovertasmania.com.au/siteassets/experiences/13-natural-wonders/136477-2.jpg?resize=b_9pZkeIafq_pT_XmB8PWsZYcA0TymG1kz9P9LwMYpFjNeeC8flBNeEzqEkceDz1" />
</div>
<p class="title">LIST PRODUCT</p>
<div class="list-product">
    <div class="product">
        <p>1</p>
    </div><div class="product">
        <p>2</p>
    </div><div class="product">
        <p>3</p>
    </div><div class="product">
        <p>4</p>
    </div><div class="product">
        <p>5</p>
    </div><div class="product">
        <p>6</p>
    </div>
    <div class="product">
        <p>1</p>
    </div><div class="product">
        <p>2</p>
    </div><div class="product">
        <p>3</p>
    </div><div class="product">
        <p>4</p>
    </div><div class="product">
        <p>5</p>
    </div><div class="product">
        <p>6</p>
    </div>
    <div class="product">
        <p>1</p>
    </div><div class="product">
        <p>2</p>
    </div><div class="product">
        <p>3</p>
    </div><div class="product">
        <p>4</p>
    </div><div class="product">
        <p>5</p>
    </div><div class="product">
        <p>6</p>
    </div>
</div>