<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @*header start*@
    <div class="header">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="btn">
            <a>DANG NHAP</a>
        </div>
    </div>    
    @*header end*@

    @*body start*@
    <div class="body">
            @RenderBody()
        
    </div>
    @*body end*@

    @*footer start*@
    <div class="footer">

    </div>
    @*footer end*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>